
  <div class="container-fluid mt-3 mb-3">
    <div class="row">
      <div class="col-8">
        <h5>Profile Video</h5>
      </div>
      <div class="col-4 text-right">
        <button
          nbButton
          class="btn btn-transparent color-blue"
          data-toggle="modal"
          data-target="#changevideo"
        >
          Edit
        </button>
      </div>
    </div>
  </div>

  <div
  class="modal fade bottom-modal"
  id="changevideo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="changevideo"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="model-header modal-header-nav">
        <h5 class="text-center mt-3">
          <nb-icon
            nbPrefix
            icon="arrow-ios-back-outline"
            pack="eva"
            class="icon back-nav"
            data-dismiss="modal"
            aria-label="Close"
          ></nb-icon>
          Video
        </h5>
      </div>
      <div class="modal-body">
        <div class="redeem-amount-container">
          <div class="changepassword-form">
            <ul class="edit-profile-list">
              <li>Take Video</li>
              <div>
                <li>Choose from Gallery</li>
                <input
                  class="file-upload-input"
                  type="file"
                  accept="video/*"
                  (change)="onFileChange($event,'video')"
                  nbInput
                  id="video"
                />
              </div>
            </ul>
          </div>
          <div class="mt-5">
            <button
              nbButton
              fullWidth
              size="large"
              shape="round"
              (click)="saveVideo()"
              class="btn btn-primary-filled"
              routerLink="main/edit-profile"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
